.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-letter, .big-keyboard-letter {
  border-radius: 5%;
  padding: 0.5em;
  margin: 0.1em;
  height: 3em;
  border: 1px solid lightgrey;
  background: lightgrey;
  color: black;
}

.keyboard-letter:hover, .big-keyboard-letter:hover {
  cursor: pointer;
}

.big-keyboard-letter {
  width: 2.5em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  line-height: 1.8em;
}

.keyboard-letter-row {
  display: flex;
}