:root {
  --blank-space-border: rgb(105, 105, 105);
  --filled-space-border: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.letter {
  border: 1px var(--blank-space-border) solid;
  height: 1em;
  width: 1em;
  padding: 0.1em;
  margin: 0.1em;
}

.letter-row {
  font-size: 7vh;
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
